/* GENERAL */

li {
	list-style: none;
}


/* ALIGNMENT */

.inline {
	display: inline;
}

/* FONTS */

body {
	font: 18px Verdana, sans-serif;
	line-height: 23px;
}

h1 {
	letter-spacing: 2px;
	line-height: 40px;
}


/* HEADER */


/* FORM */

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: button;
}


/* LIST */


/* HOME */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 980px) {}
