/* GENERAL */

li {
	list-style: none;
}


/* ALIGNMENT */

.inline {
	display: inline;
}

/* FONTS */

body {
	font: 16px Verdana, sans-serif;
	line-height: 2.3em;
	padding: 20px;
}

h1 {
	letter-spacing: 1px;
}


/* HEADER */



/* MAP */

#map {
	height: 500px;
}


/* FORM */

input {
	background-color: rgba(0,0,0,0.1);
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: button;
}


/* LIST */


/* HOME */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 980px) {}
